# optional, but recommended to avoid rate-limiting
ALCHEMY_ID=
INFURA_ID=

NEXTAUTH_URL=http://localhost:3000
# run `openssl rand -hex 32` on linux, or go to https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=a_super_duper_strong_password_at_least_32_characters_long